body {
	background-color: lightgray;
	color: maroon;
	font-family: candara;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	margin-top: 10px;
}
.message-container {
	background-color: rgb(204, 250, 204);
	width: 500px;
	border-radius: 10px;
	padding: 20px;
	margin-top: 10px;
}
.form-divs {
	margin-bottom: 20px;
}
input {
	margin-right: 10px;
}
.movie-reviews-form {
	margin-bottom: 20px;
}
#submit, #clear, .summary {
	border-radius: 5px;
	padding: 5px 10px;
	margin-bottom: 10px;
}
img {
	display: block;
	margin-bottom: 10px;
}
#query:focus:valid, #start-date:focus:valid, #end-date:focus:valid {
	background-color: rgb(179, 255, 179);
}
#query:focus:invalid, #start-date:focus:invalid, #end-date:focus:invalid {
	background-color: rgb(255, 197, 206);
}
.hide {
	display: none;
}
.reviews-container {
	margin: 20px 0;
}
.single-review-container {
	margin: 30px 0;
}